:root{
    --primary-color:#3498db;
    --secondary-color:#e74c3c ;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

h1{
    color:var(--primary-color);
}

h2 {
    color:var(--secondary-color);
}